
.contact{
    background-image:(url(../assets/Contact/contact.jpg)) ;
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Full viewport height */
    width: 100%;
    margin: 0;
    padding: 0;
}
.contact-pic{
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    border-radius: 10px; 
}