
.conttact{
    position: relative;
    height: 500px;
    overflow: hidden;
}




.contact::before{
   
    background-image:url(../assets/Contact/contact.jpg) ;
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
   height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
     opacity: 0.4;
    content: "";
    z-index: -1;
    position: absolute;
    
}
 .contact_topic{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: lighter;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: "Lexend Zetta", serif;
    z-index: 1;

 }   

    
    
    


    
